<div class="admin-container">
  <h2 class="title">Location (ID: <%= @location.id %>)</h2>
  <br><br>
  <p>Street: <%= link_to @location.street.street_name, admin_street_path(@location.street) %></p>
  <p>Ride Quality Score: <%= @location.bumpiness %></p>
  <p>Order: <%= @location.order %></p>
  <p>Lat: <%= @location.lat %></p>
  <p>Long: <%= @location.long %></p>
  <p>Reading Device ID: <%= @location.reading_device_id %></p>
  <p>Reading Timestamp: <%= @location.reading_timestamp %></p>
  <h3>
    <% if @location.annotations.any? %>
      <%= pluralize( @location.annotations.count, "annotation") %>
    <% else %>
      No Annotations
    <% end %>
  </h3>
  <%= link_to "Delete This Location", admin_location_path(@location), method: :delete, class: "admin-button",
    data: { confirm: "Are you sure you want to delete this location? This will delete all associated annotations and cannot be undone" } %>

  <br><br>
  <%= image_tag @location.image, id: "admin-location-image" %>
  <br><br>

</div>

<script>

    $(document).ready(function() {setTimeout(function (){
      anno.makeAnnotatable(document.getElementById('admin-location-image'));
      <% @location.annotations.each do |annotation| %>
        oneAnnotation = {
          annotationId: "<%= annotation.id %>",
          src : "<%= annotation.image_url %>",
          locationId: "<%= annotation.location_id %>",
          text : "<%= annotation.text %>",
          category: "<%= annotation.category %>",
          editable: false,
          shapes : [{
            type : "<%= annotation.shape %>",
            geometry : { x : "<%= annotation.x %>", y: "<%= annotation.y %>", width : "<%= annotation.width %>", height: "<%= annotation.height %>" }
          }]
        }
      anno.addAnnotation(oneAnnotation)
      <% end %>
      anno.hideSelectionWidget()
    }, 1000);

  })
</script>
