<div id="map-container">
  <div id="map-canvas"></div>
  <div id="loading-overlay">
    <%= image_tag "default.gif" %>
  </div>
  <%= render partial: "map/map_overlay" %>

  <div id="street-view-container">
    <h2 id="sv-mobile-msg">The SQUID Annotator is intended for use on full size device. Please increase your browser size or use a new device.</h2>
    <div id="street-view-legend">
      <%= image_tag "legend.png", id: "street-view-legend-img" %>
      <ul id="street-view-legend-keys">
        <li><50</li>
        <li>100</li>
        <li>150+</li>
      </ul>
      <p>Ride Quality Score</p>
    </div>

      <a href="#" id="close-street-view">
        <span id="csv-text">&times;</span>
        <%= image_tag "keyboard_esc.png", class: "keyboard" %>
        <%= image_tag "key_esc.png", class: "key" %>
      </a>
      <a href="#" class="carousel-arrow" id="carousel-left">
        <span class="arrow">&lsaquo;</span>
        <span class="text">SCROLL LEFT</span>
        <%= image_tag "keyboard_left.png", class: "keyboard" %>
        <%= image_tag "key_left.png", class: "key" %>
      </a>
      <a href="#" class="carousel-arrow" id="carousel-right">
        <span class="arrow">&rsaquo;</span>
        <span class="text">SCROLL RIGHT</span>
        <%= image_tag "keyboard_right.png", class: "keyboard" %>
        <%= image_tag "key_right.png", class: "key" %>
      </a>
      <%= image_tag "argo_alt.png", id: "street-view-argo-logo" %>

      <div id="street-view-inner">

        <div id="street-and-location-data">
          <div id="street-data"></div>
          <div id="location-data"></div>
          <a href="#" id="launch-annotate">
            <span class="anno-text">Annotate Image</span>
            <div id="anno-key-imgs">
              <%= image_tag "keyboard_space.png", class: "anno-keyboard" %>
              <%= image_tag "space.png", class: "anno-key" %>
            </div>
          </a>
        </div>
        <div id="street-carousel-container"></div>

      </div>

  </div>

</div>

<%= render partial: "mustache_templates" %>
<%= render partial: "annotation/annotation_view" %>
