<div class="admin-container">
  <h2 class="title">Street (ID: <%= @street.id %>)</h2>
  <br><br>
  <h3>Name: <%= @street.street_name %></h3>
  <h3>Average Ride Quality: <%= @street.average_bumpiness %></h3>
  <br><br>
  <h2><%= @street.location_count %> Locations</h2>
  <table>
    <tr>
      <th class="small"></th>
      <th>Lat</th>
      <th>Long</th>
      <th class="small">Order</th>
      <th>Ride Quality Score</th>
      <th class="small">Reading Device ID</th>
      <th>Reading Time Stamp</th>
      <th>Annotation Count</th>
    </tr>
    <% @street.locations.each do |location| %>
      <tr>
        <td><%= link_to "View", admin_location_path(location) %></td>
        <td><%= location.lat %></td>
        <td><%= location.long %></td>
        <td><%= location.order %></td>
        <td><%= location.bumpiness %></td>
        <td><%= location.reading_device_id %></td>
        <td><%= location.reading_timestamp %></td>
        <td><%= location.annotation_count %></td>
      </tr>
    <% end %>
  </table>
</div>
